@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

p {
  font-size: 18px;
  color: #727272;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* share styles */
.display_flex{
  display: flex;
}
.btn_1{
  background-color: rgba(255, 144, 14, 1);
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 50px;

}
.Main_container{
  max-width: 1440px;
  margin: 0 auto;
}
.Main_container>section{
  margin-top: 130px;
}
.section_title{
  font-size: 30px;
}
.text_gray{
  color: #424242;
}
.text_light{
  color: #727272;
}
.bg_colors{
  background-color: rgba(216, 196, 172, 0.418);
}

/* navbar related style */


.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.Brand{
  font-weight: 700;
  font-size: 2.8rem;
}
.navbar{
  justify-content: space-between;
}
.nav_links{
  text-decoration: none;
  align-items: center;
  font-weight: 500;

}
.nav_items{
  list-style: none;
  margin-right: 30px;
  
}
.banner_content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;


}

.banner_title{
  font-weight: 700;
  font-size: 4rem;
}

.banner img{
  width: 100%;
}

/* +++++++++++ */

.teams{
  align-items: center;
  gap: 40px;

}

.Team_img_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}
.Our_features{
  max-width: 540px;
}

.Quick_list_text{
  color: #6e6b6b;
  font-weight: 500;
}
.Features_Text{
  color: tomato;
}


/* responsiv media query */
@media screen and (max-width:576px) {
  .navbar, .nav_links{
    flex-direction: column;
  }
  .Brand {
    font-size: 2.4rem;
    text-align: center;
}
.nav_links {
    gap: 13px;
  
}
.banner_title {
    font-size: 3rem;
}

.Team_img_container {
    grid-template-columns: repeat(1, 1fr);
}
.teams {
  flex-direction: column;
}
.section_title {
    font-size: 20px;
}


}